*{
  padding: 0;
  margin: 0;
}

html, body {
  padding: 0;
  margin: 0;
   /* removes the white space at the right side: */
  overflow-x:hidden; 
}

.App {
  min-height: 100vh;
  background-color: #acf1f1;
  margin: 0;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 20%;
  border: none;
  padding: 10px
}
.search-button{
  background: #ec7f00;
  border: none;
  padding: 10px 20px;
  color: white;
}
