*{
  padding: 0;
  margin: 0;
}

html, body {
  padding: 0;
  margin: 0;
   /* removes the white space at the right side: */
  overflow-x:hidden; 
}

.App {
  min-height: 100vh;
  margin: 0;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #fae4c8;
  margin-bottom: 20px;
}

li a{
  flex: 1;
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover {
  background-color: #FFCD8E;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 20%;
  border: 1px;
  border-color: #FFCD8E;
  padding: 10px
}
.search-button{
  background: #FFCD8E;
  border: 1px;
  padding: 10px 20px;
  color: black;
}
