
html, body {
  padding: 0;
}

.App {
  min-height: 100vh;
  background-color: bisque;
  margin: 0;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 20%;
  border: none;
  padding: 10px
}
.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}
